{% extends 'template_base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/estilo_general.css' %}" />
{% endblock %} 
{% block content %}
{% include 'menu.html' %}
<div class="contenedor-centrado">
  <div class="card pl-5 pr-5 pb-5 pt-3 shadow">
    <div class="card-body">
      <div class="d-flex justify-content-center">
      <img src="{% static 'img/logox128.png' %}" alt="" srcset="">
      </div>
      <div class="row class mt-5">
        <div class="col-md-6">
          <form action="" method="post" id="form-marcaje-entrada">
            {% csrf_token %}
            <input type="submit" value="Entrada" class="btn btn-success btn-block btn-lg">
          </form>
        </div>
        <div class="col-md-6">
          <form action="" method="post" id="form-marcaje-salida">
            {% csrf_token %}
            <input type="submit" value="Salida" class="btn btn-info btn-block btn-lg">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="contenedor-marcaje">

  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/marcaje.js' %}"></script>
{% endblock %}

